![imagen](./img/python.jpg)

# Python Basics II


Ya hemos visto cómo declarar variables, qué tipos hay, y otras funcionalidades importantes de Python como sus flujos de ejecución o las formas que tenemos de comentar el código. En este Notebook aprenderás a realizar **operaciones con tus variables** y descubrirás las colecciones mediante uno de los objetos más usados en Python: **las listas**.

1. [Operaciones aritméticas](#1-operaciones-aritméticas)
2. [Operaciones comparativas](#2-operaciones-comparativas)
3. [Operaciones con booleanos](#3-operaciones-con-booleanos)
4. [Funciones *Built-in*](#4-funciones-built-in)
5. [Métodos](#5-métodos)
6. [Listas](#6-listas)
7. [Resumen](#7-resumen)

## 1. Operaciones aritméticas
En el Notebook *Python Basics I* ya vimos por encima las principales operaciones aritméticas en Python. Las recordamos:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//` (nos devuelve la parte entera de la division)
* Resto de la división: `%`

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones aritméticas</h3>

      
<ol>
    <li>Declara una variable int</li>
    <li>Declara otra variable float.</li>
    <li>Suma ambas variables. ¿Qué tipo de dato es el resultado?</li>
    <li>Multiplica ambas variables</li>
    <li>Eleva una variable a la potencia de la otra</li>
    <li>Calcula el resto de dividir 12/5</li>
</ol>
         
 </td></tr>
</table>

In [51]:
var_int = 5

var_float = 3.5

suma = var_int + var_float
print(suma, type(suma))

mult = var_int * var_float
print(mult, type(mult))

elevar = var_int ** var_float
print(elevar, type(elevar))

resto = 12 % 5 
print(resto, type(resto))

8.5 <class 'float'>
17.5 <class 'float'>
279.5084971874737 <class 'float'>
2 <class 'int'>

### Propiedad conmutativa, asociativa, distributiva y el paréntesis
Si queremos concatenar varias operaciones, ten siempre en cuenta las propiedades matemáticas de la multiplicación

In [52]:
print("Conmutativa")
print(2 * 3)
print(3 * 2)

print("\nAsociativa") # Recuerda que "\n" se usa para que haya un salto de linea en el output.
print(2 * (3 + 5))
print(2 * 3 + 2 * 5)

print("\nDistributiva")
print((3 * 2) * 5)
print(3 * (2 * 5))

print("\nEl Orden de operaciones se mantiene. Siempre podemos usar paréntesis")
print(2 * (2 + 3) * 5)
print((2 * 2 + 3 * 5))

Conmutativa
6
6

Asociativa
16
16

Distributiva
30
30

El Orden de operaciones se mantiene. Siempre podemos usar paréntesis
50
19

### Operaciones más complejas
Si salimos de las operaciones básicas de Python, tendremos que importar módulos con más funcionalidades en nuestro código. Esto lo haremos mediante la sentencia `import math`. `math` es un módulo con funciones ya predefinidas, que no vienen por defecto en el núcleo de Python. De esta forma será posible hacer cálculos más complejos como:

* Raíz cuadrada
* Seno/Coseno
* Valor absoluto
*...

El módulo es completísimo y si estás buscando alguna operación matemática, lo más seguro es que ya esté implementada. Te dejo por aquí el [link a la documentación del módulo.](https://docs.python.org/3/library/math.html).

Una cosa es instalar la libreria y otra cosa es cargarla. Algunas librerias basicas (como math) vienen ya instaladas solo hay que cargarlas con el comando import.

In [53]:
import math

In [54]:
print(math.sqrt(25))
print(math.fabs(-4)) #Valor absoluto con la funcion de la libreria math
print(abs(-4.0)) #El valor absoluto viene tambien de base en python
print(math.acos(0))

5.0
4.0
4.0
1.5707963267948966

Como en todos los lenguajes de programación, suele haber una serie de componentes básicos (variables, operaciones aritméticas, tipos de datos...) con los que podemos hacer muchas cosas. Ahora bien, si queremos ampliar esas funcionalidades, se suelen importar nuevos módulos, con funciones ya hechas de otros usuarios, como en el caso del módulo `math`. Veremos esto de los módulos más adelante.

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES Dividir por cero</h3>
         
 </td></tr>
</table>

Cuidado cuando operamos con 0s. Las indeterminaciones y valores infinitos suponen errores en el código. Por suerte, la descripción de estos errores es bastante explícita, obteniendo un error de tipo `ZeroDivisionError`

In [55]:
4/0

ZeroDivisionError: division by zero

In [ ]:
math.sqrt(-10)

ValueError: math domain error

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones con math</h3>

Consulta la documentación de math para resolver este ejercicio 
<ol>
    <li>Calcula el valor absoluto de -25. Usa fabs</li>
    <li>Redondea 4.7 a su entero más bajo. Usa floor</li>
    <li>Redondea 4.3 a su entero más alto. Usa ceil</li>
    <li>El número pi</li>
    <li>¿Cuál es el área de un círculo de radio 3?</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
print(math.fabs(-25)) #valor absoluto
print(abs(-25))
print(math.floor(4.7)) #El valor entero mas bajo cercano a 4.7
print(math.ceil(4.3)) #El valor entero mas alto cercano a 4.3
print(round(4.3))
print(math.pi)
area = math.pi * 3 ** 2
print(area)

25.0
25
4
5
4
3.141592653589793
28.274333882308138

## 2. Operaciones comparativas

Es bastante intuitivo comparar valores en Python. La sintaxis es la siguiente:
* `==`: Igualdad. No es un `=`. Hay que diferenciar entre una comparativa, y una asignación de valores
* `!=`: Desigualdad
* `>`: Mayor que
* `<`: Menor que
* `>=`: Mayor o igual que
* `<=`: Menor o igual que

In [ ]:
x = 1

print(x == 1)
print(x == 5)
print(type(x == 5))
print(type(x))

True
False
<class 'bool'>
<class 'int'>

En la asignación estamos diciendole a Python que la variable `asign` vale 1, mientras que en la comparación, estamos preguntando a Python si `a` equivale a 5. Como vale 1, nos devuelve un `False`

In [ ]:
print("AAA" == "BBB")
print("AAA" == "AAA")

print(1 == 1.0)
print(1 == 1.1)

print(67 != 67)

False
True
True
False
False

In [ ]:
#A nivel numerico: True vale 1 False 0 
print(True == 1)
print(False == 0)
print(True == 5)

True
True
False

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en comparativas</h3>
         
 </td></tr>
</table>

Este tipo de errores son muy comunes, pues es muy habitual comparar peras con manzanas. Cuando se trata de una igualdad (`==`), no suele haber problemas, ya que si las variables son de distinto tipo, simplemente es `False`. Lo ideal sería que Python nos avisase de estas cosas porque realmente lo estamos haciendo mal, no estamos comparando cosas del mismo tipo

In [ ]:
print(True == 6)
print(True == "verdadero")
print(6 == "cadena")

False
False
False

In [ ]:
1.0 > "texto"

TypeError: '>' not supported between instances of 'float' and 'str'

In [ ]:
print(1 > 0)
print(1 > 2)
print(1 >= 1)
print(1 <= 2)

True
False
True
True

## 3. Operaciones con booleanos
Todas las operaciones que realizabamos en el apartado anterior devolvían un tipo de dato concreto: un booleano. `True` o `False`. Pero ¿cómo harías si se tienen que cumplir 3 condiciones, o solo una de esas tres, o que no se cumplan 5 condiciones?
Para este tipo de operaciones recurrimos al [*Álgebra de Boole*](https://es.wikipedia.org/wiki/%C3%81lgebra_de_Boole#:~:text=El%20%C3%A1lgebra%20de%20Boole%2C%20tambi%C3%A9n,que%20esquematiza%20las%20operaciones%20l%C3%B3gicas.). Se trata de una rama del álgebra que se utiliza en electrónica, pero que tiene un sin fin de aplicaciones, no solo téncicas, sino aplicables a la vida cotidiana. Estas matemáticas pueden llegar a ser muy complejas aún utilizando únicamente dos valores: `True` y `False`. Las operaciones más comunes son **AND, OR, NOT**.
En las siguientes tablas tienes todos los posibles resultados de las puertas AND, OR, NOT, dependiendo de sus inputs.

Puede parecer complejo pero a efectos prácticos, y sin meternos con otro tipo de puertas lógicas, te recomiendo seguir estas reglas:
* **AND**: Se tienen que cumplir ambas condiciones para que sea un `True`
* **OR**: Basta que se cumpla al menos una condicion para que sea `True`
* **NOT**: Lo contrario de lo que haya. Cuando no se cumple la condicion que indicamos devuelve True.

Veamos un ejemplo práctico para aclarar estos conceptos. Imaginemos que queremos comprar un ordenador, pero nos cuesta decidirnos. Eso sí, tenemos claras las siguentes condiciones a la hora de elegir
* La RAM me vale que tenga 16, 32 o 64 GB
* En cuanto al procesador y disco duro, la combinación que mejor me viene es un i3 con 500GB de disco.
* Precio: que no pase de los 800 €

In [ ]:
# Primer ordenador
ram1 = 32
process1 = "i5"
disco1 = 500
precio1 = 850

# Segundo ordenador
ram2 = 8
process2 = "i5"
disco2 = 500
precio2 = 600

# Tercer ordenador
ram3 = 32
process3 = "i3"
disco3 = 500
precio3 = 780

Veamos cómo implemento esto mediante operaciones booleanas

In [ ]:
cond_ram1 = (ram1 == 16 or ram1 == 32 or ram1 == 64)
# cond_ram1 = (False or True or False)
# cond_ram1 = True
print(cond_ram1)

cond_process1 = (process1 == "i3" and disco1 == 500)
# cond_process1 = (False and True)
# cond_process1 = False
print(cond_process1)

cond_precio1 = (precio1 <= 800)
# cond_precio1 = False
print(cond_precio1)

cond_final1 = cond_ram1 and cond_process1 and cond_precio1
# cond_final1 = True and False and False
# cond_final1 = False
print("Resultado: ", cond_final1)

True
False
False
Resultado:  False

In [ ]:
print(process1 == "i3")
print(disco1 == 500)

False
True

El primer ordenador cumple el requisito de ram, pero no los de precio y procesador/disco. Veamos los otros dos si los cumplen

In [ ]:
cond_final2 = (ram2 == 16 or ram2 == 32 or ram2 == 64) and (process2 == "i3" and disco2 == 500) and (precio2 <=800)
cond_final3 = (ram3 == 16 or ram3 == 32 or ram3 == 64) and (process3 == "i3" and disco3 == 500) and (precio3 <=800)

print("Resultado 2: ", cond_final2)
print("Resultado 3: ", cond_final3)

Resultado 2:  False
Resultado 3:  True

¡Bingo! El tercer ordenador cumple todas las condiciones para ser mi futura compra. Verás en próximos notebooks que esto se puede hacer todavía más sencillo mediante bucles y funciones.

Si quieres aprender más sobre el **Álgebra de Boole**, te recomiendo [esta página](https://ryanstutorials.net/boolean-algebra-tutorial/)

¡No me vas a creer cuando te diga que lo mejor que te puede pasar es que te salten errores por pantalla! Si, estos son los errores más fáciles de detectar y puede que también fáciles de corregir ya que tienes la ayuda del descriptivo del error. El problema gordo viene cuando no saltan errores y ves que tu código no lo está haciendo bien. Para ello tendremos que debugear el código y ver paso a paso que está pasando. Lo veremos en notebooks posteriores. De momento corregiremos el código revisandolo a ojo.

Cuidado cuando tenemos sentencias muy largas, ya que nos puede bailar perfectamente un paréntesis, un `>`, un `and` por un `or`... Hay que andarse con mil ojos.

Y sobretodo, cuidado con el *copy paste*. Muchas veces, por ahorrar tiempo, copiamos código ya escrito para cambiar pequeñas cosas y hay veces que se nos olvida cambiar otras. Pensamos que está bien, ejecutamos, y saltan errores. Copiar código no es una mala práctica, es más, muchas veces evitamos errores con los nombres de las variables, pero hay que hacerlo con cabeza.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de operaciones con booleanos</h3>

Sin escribir código, ¿Qué valor devuelve cada una de las siguientes operaciones?
<ol>
    <li>not (True and False)</li>
    <li>False or False or False or (False and True) or True or False or False or False</li>
    <li>True or not False or (True and True) or True or False or True or True</li>
    <li>(False and True and True) or (True and True)</li>
</ol>
         
 </td></tr>
</table>

1. True
2. True
3. True
4. True

In [ ]:
print(not (True and False)) #True
print(False or False or False or (False and True) or True or False or False or False) #True
print(True or not False or (True and True) or True or False or True or True) #True
print((False and True and True) or (True and True)) #True

True
True
True
True

## 4. Funciones *Built in*
Hay una serie de funciones internas, que vienen en el intérprete de Python. Algunas de las más comunes son:
* **Tipos**: `bool()`, `str()`, `int()`, `float()`
* **Min/Max**: `min()`, `max()`
* **print()**
* **type()**
* **range()**
* **zip()**
* **len()**
* ...

La sintaxis de la función es:

```Python
nombre_funcion(argumentos)
```

Algunas ya las hemos visto. Sin embargo, hay unas cuantas que las iremos descubriendo a lo largo de estos notebooks. Para más detalle, tienes [aquí](https://docs.python.org/3/library/functions.html) todas las funciones *built-in* de la documentación.

De momento, en lo que se refiere a funciones, vamos a ir trabajando con funciones ya hechas, pero más adelante crearemos nuestras propias funciones.

In [ ]:
print(len("Este string"))

print(max(5,6,4,5,7,100))
print(min(5,6,4,5,7,100))

11
100
4

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de funciones built-in</h3>

Busca <a href="https://docs.python.org/3/library/functions.html">en la documentación</a> una función que te sirva para ordenar de manera descendente la siguiente lista
         
 </td></tr>
</table>

In [ ]:
temperaturas = [17,22,26,18,21,25,29]
print(type(temperaturas))

<class 'list'>

In [ ]:
#La funcion sort por defecto nos ordena de menor a mayor
#Si queremos que nos ordene de mayor a menor utilizamos la funcion reverse (como true)
print(sorted(temperaturas, reverse=True)) 
print(sorted(temperaturas))

[29, 26, 25, 22, 21, 18, 17]
[17, 18, 21, 22, 25, 26, 29]

In [ ]:
print(temperaturas)

[17, 22, 26, 18, 21, 25, 29]

In [ ]:
sorted(temperaturas, reverse=True) #AQUI LA LISTA ORIGINAL NO SE MODIFICA

[29, 26, 25, 22, 21, 18, 17]

In [ ]:
temperaturas.sort(reverse=True) #AQUI LA LISTA ORIGINAL SE MODIFICA. LOS METODOS LO CAMBIAN
print(temperaturas)

[29, 26, 25, 22, 21, 18, 17]

## 5. Métodos
Se trata de una propiedad MUY utilizada en programación. Son funciones propias de las variables/objetos, y que nos permiten modificarlos u obtener más información de los mismos. Dependiendo del tipo de objeto, tendremos unos métodos disponibles diferentes.

Para usar un método se usa la sintaxis `objeto.metodo()`. Ponemos un punto entre el nombre del objeto y el del metodo, y unos paréntesis por si el método necesita de algunos argumentos. **Aunque no necesite de argumentos, los paréntesis hay que ponerlos igualmente.**

Veamos algunos ejemplos

### String
Una variable de tipo string, tiene una serie de métodos que permiten sacarle jugo a la cadena de texto. [Aquí](https://docs.python.org/2.5/lib/string-methods.html) tienes todos los métodos que podemos usar en cadenas de texto

In [ ]:
string_ejemplo = "String de ejemplo"

print(string_ejemplo.upper())

print(string_ejemplo.lower())

print(string_ejemplo.replace("e", "E"))

print(string_ejemplo.split(' ')) #Separa el string por el simbolo que le indiquemos

print(string_ejemplo.index('r')) #El indice del primer string que coincida con el simbolo que le hemos indicado

STRING DE EJEMPLO
string de ejemplo
String dE EjEmplo
['String', 'de', 'ejemplo']
2

Como ves, se pueden hacer muchas cosas en los Strings gracias a sus métodos. Ya verás cómo la cosa se pone más interesante cuando los tipos de los datos sean todavía más complejos.

Los métodos son una manera de abstraernos de cierta operativa. Convertir todos los caracteres de una cadena a minuscula, puede ser un poco tedioso si no existiese el método `lower()`. Tendríamos que acudir a bucles o programación funcional.

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en métodos</h3>
         
 </td></tr>
</table>

In [ ]:
str_ejemplo = "string"
str_ejemplo.replace("s")

TypeError: replace expected at least 2 arguments, got 1

## 6. Listas
Se trata de otro de los tipos de datos de Python más usados. Dentro de las colecciones, que veremos más adelante, la lista es la colección que normalmente se le da más uso. **Nos permiten almacenar conjuntos de variables u objetos**, y son elementos de lo más versátiles puesto que podemos almacenar objetos de distintos tipos, modificarlos, eliminarlos, meter listas dentro de listas... Sus dos caractrísticas principales son:
* **Mutables**: una vez se ha creado la lista, se puede modificar
* **Ordenada**: Los elementos tienen un cierto orden, lo que nos permite acceder al elemento que queramos teniendo en cuenta tal orden

En cuanto a su sintaxis, cuando declaremos la lista simplemente hay que separar cada elemento con comas, y rodearlo todo con corchetes.

In [ ]:
numeros = [3,6,1]
print(type(numeros))
print(numeros)

<class 'list'>
[3, 6, 1]

In [ ]:
list_string = ["ponme", "otra"]
print(list_string)

list_bools = [True, False, not False, True or False]
print(list_bools)

list_mix = ["texto", 1, 55.78, True]

list_list = [4, 
             "diez", 
             [True, 6], 
             [], 
             list_mix]
print(list_list)
print(len(list_list))

list_a = [1,2]
list_b = [3,4]
print(list_a + list_b) #Tambien se pueden concatenar con el +=

['ponme', 'otra']
[True, False, True, True]
[4, 'diez', [True, 6], [], ['texto', 1, 55.78, True]]
5
[1, 2, 3, 4]

In [ ]:
print(list_list)
print(len(list_list))

NameError: name 'list_list' is not defined

In [ ]:
list_list[4][0]

'texto'

In [ ]:
type(list_list[3])

list

In [ ]:
len(list_list)

5

In [ ]:
list_list[-1][-2]

55.78

**NOTA**: ¿Ves por qué los decimales en Python siempre van con puntos y no con comas? Con las colecciones el intérprete de Python se volvería loco.

Podemos ver tambien el tipo de la lista

In [ ]:
type(list_list)

list

Calcular la longitud de la misma mediante el método *built-in* ya visto: `len()`

In [ ]:
len(list_list)

5

In [ ]:
len(list_list[-1])

4

Accedemos a los elemenos de la lista mediante corchetes `[]`

**Importante**. El primer elemento es el 0

In [ ]:
list_index = [4,5,7,8,6]

In [ ]:
list_index = [4,5,7,8,6]
mi_var = list_index[0] -  1

print(mi_var)
print(list_index)

3
[4, 5, 7, 8, 6]

In [ ]:
list_index[0]

4

In [ ]:
list_index[0] = 12
print(list_index)

[12, 5, 7, 8, 6]

In [ ]:
list_index[2] = list_index[2] * 2
print(list_index)

[12, 5, 14, 8, 6]

### Metodos en Listas
Para el tipo de objeto lista, también hay una serie de métodos catacterísticos que nos permiten operar con ellas: añadir valores, quitarlos, indexado, filtrado, etc... En [este enlace](https://www.w3schools.com/python/python_ref_list.asp) puedes encontrar todos los métodos que podrás usar con listas.

In [ ]:
#Metodo extend sirve para concatenar listas entre ellas

In [ ]:
asignaturas = ["Mates", "Fisica", "Mates", "Ingles"]

print(asignaturas.append("Quimica")) # añadir un elemento más.
print(asignaturas)

print(asignaturas.index("Ingles"), 'nos devuelve el menor índice donde se encuentra dicho elemento')
print(asignaturas.count("Mates"), 'nos devuelve la frecuencia del elemento dentro de la lista')
print(asignaturas.index("Mates"))

print(asignaturas.clear()) #El metodo clear vacia la lista
print(asignaturas)

None
['Mates', 'Fisica', 'Mates', 'Ingles', 'Quimica']
3 nos devuelve el menor índice donde se encuentra dicho elemento
2 nos devuelve la frecuencia del elemento dentro de la lista
0
None
[]

In [ ]:
asignaturas.append("otra cosa más")

In [ ]:
asignaturas

['otra cosa más']

In [ ]:
string_vacio = ""

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

<ol>
    <li>Crea una lista con tus 3 películas favoritas.</li>
    <li>Imprime por pantalla la longitud de la lista</li>
    <li>Concatena a esta lista, otra lista con tus 3 series favoritas</li>
    <li>Elimina el segundo elemento de la lista concatenada</li>
    <li>Añade una lista de 3 platos de comida, en el segundo elemento de la lista concatenada</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
peliculas = ['Interstellar', 'Star Wars', 'La cerdita']
#print(type(peliculas))
#print(peliculas)

print(len(peliculas))

series = ['Los Soprano', 'True Detective', 'Suits']

netflix = peliculas + series
netflix_1=peliculas.extend(series)
print(netflix)
print(netflix_1)

3
['Interstellar', 'Star Wars', 'La cerdita', 'Los Soprano', 'True Detective', 'Suits']
None

In [ ]:
netflix[1]

'Star Wars'

In [ ]:
# 1 forma
# netflix.remove('Señor de los anillos')
netflix.remove(netflix[1])

In [ ]:
print(netflix)

['Interstellar', 'La cerdita', 'Los Soprano', 'True Detective', 'Suits']

In [ ]:
# Otra forma
netflix.pop(1)
print(netflix)

['Interstellar', 'Los Soprano', 'True Detective', 'Suits']

In [ ]:
# Otra forma (recomendable mejor usar metodos)
del netflix[1]
print(netflix)

['Interstellar', 'True Detective', 'Suits']

In [ ]:
print(netflix)

['Interstellar', ['Lentajas', 'Pulpo gallego', 'Chuletón'], ['Lentajas', 'Pulpo gallego', 'Chuletón'], 'True Detective', 'Suits']

In [56]:
comidas = ['Lentajas', 'Pulpo gallego', 'Chuletón']

In [ ]:
netflix.insert(1,comidas) #.insert(posicion,nuevo valor)
print(netflix)

['Interstellar', ['Lentajas', 'Pulpo gallego', 'Chuletón'], ['Lentajas', 'Pulpo gallego', 'Chuletón'], ['Lentajas', 'Pulpo gallego', 'Chuletón'], 'True Detective', 'Suits']

In [57]:
netflix[1][2]

'Chuletón'

In [60]:
comida_borrada = netflix[1].pop(0) #Elimina la variable y te la devuelve. Pop va por indices remove por valores
print(comida_borrada)
print(netflix)

Pulpo gallego
['Interstellar', ['Chuletón'], ['Chuletón'], ['Chuletón'], 'True Detective', 'Suits']

In [59]:
# Preguntas
lista_total = peliculas + series + comidas
print(lista_total)

['Interstellar', 'Star Wars', 'La cerdita', 'Los Soprano', 'True Detective', 'Suits', 'Los Soprano', 'True Detective', 'Suits', 'Lentajas', 'Pulpo gallego', 'Chuletón']

In [61]:
# Preguntas
netflix[1].insert(3,comida_borrada)
print(netflix)

['Interstellar', ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], 'True Detective', 'Suits']

In [62]:
netflix.insert(7,('domingo', 'fernandez'))

In [63]:
print(netflix)

['Interstellar', ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], 'True Detective', 'Suits', ('domingo', 'fernandez')]

In [64]:
netflix.insert(8,{'nombre': 'David', 'apellido': 'Bores'})
print(netflix)

['Interstellar', ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], ['Chuletón', 'Pulpo gallego'], 'True Detective', 'Suits', ('domingo', 'fernandez'), {'nombre': 'David', 'apellido': 'Bores'}]

## 7. Resumen

In [65]:
# Operaciones matemáticas
print("Operaciones matemáticas")
print(4 + 6)
print(9*2)
print(2 * (3 + 5))
print(10/5)
print(10 % 3)
print(2**10)

# Funciones matemáticas más complejas
import math
print(math.sqrt(25))


# Operaciones comparativas
print("\nOperaciones comparativas")
print("AAA" == "BBB")
print("AAA" == "AAA")
print(1 == 1)
print(1 == 1.0)
print(67 != 93)
print(67 > 93)
print(67 >= 93)


# Operaciones con booleanos
print("\nOperaciones con booleanos")
print(True and True and False)
print(True or True or False)
print(not False)


# Funciones builtin
print("\nFunciones built-in")
string_builtin = "Fin del notebook"
print(string_builtin.upper())
print(string_builtin.lower())
print( string_builtin.replace("o", "O"))
print(string_builtin.replace("o", ""))


# Listas
print("\nListas")
musica = ["AC/DC", "Metallica", "Nirvana"]
musica.append("Queen")
print(musica)

Operaciones matemáticas
10
18
16
2.0
1
1024
5.0

Operaciones comparativas
False
True
True
True
True
False
False

Operaciones con booleanos
False
True
True

Funciones built-in
FIN DEL NOTEBOOK
fin del notebook
Fin del nOtebOOk
Fin del ntebk

Listas
['AC/DC', 'Metallica', 'Nirvana', 'Queen']